////////// VARIABLES /////////////
// COLORS
$primary-letter-color: #1c0f13;
$background-button-color: #1c0f13;
$page-background-color: #f1ede9;
$font-color-main-title-home: #4d505f;

// FONT-FAMILY
$title-font-family: 'Dancing Script', cursive;
$primary-font-family: 'Work Sans', sans-serif;
$primary-font-weight: 500;
$small-title-font-weight: 600;
$font-awesome-size: 2rem;

// MEDIA-QUERY
$media-query-width: 600px;
